#page-header
  div.container.page-top-navigation
    nav.f-left
      if (username)
        a(href='/user/' + username) Профиль
        a(href='/feed') Лента
        a(href='/') Сообщения
        a(href='/') Уведомления
      else
        a(href='/') Главная
    nav#menu.f-right
      if (username)
        .dropdown
          a#profile-menu.noselect.dropdown-toggle(role='button', data-toggle='dropdown') #{`${name.first} ${name.last}`}
            b.caret
          ul.dropdown-menu(role='menu', aria-labelledby='drop3', style='display:none;')
            li
              a(tabindex='-1', href='/user/' + username) Профиль
            li
              a(tabindex='-1', href='/user/edit') Редактировать
            li.divider
            li
              a(tabindex='-1', href='/user/logout') Выйти
      else
        a(href='/login') Войти
        a(href='/signup') Регистрация