table#mini-profile-stats
  tr
    td.item
      span
        a(href='/following/' + (username || id))
          span.stat-digit= meta ? meta.numberOfSubscriptions : 0
          span.stat-label Читает
    td.item.middle
      span
        a(href='/followers/' + (username || id))
          span.stat-digit= meta ? meta.numberOfFollowers : 0
          span.stat-label Подписчиков
    td.item
      span
        a(href='/reviews/' + (username || id))
          span#p-count-reviews.stat-digit= meta ? meta.numberOfReviews : 0
          span.stat-label Отзывов