html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;margin: 0;padding: 0;font-size: 12pt;font-weight: 200;line-height: 1.5em;color: black;")
    p Здравствуйте, #{user.name.first}!
    p(style='color: #000000;')
        | Ваш адресс электронной почты 
        strong  #{user.email}
        |  был использован для создания аккаунта в Realive. Мы хотим убедиться, что это действительно были Вы.
    p Для подтверждения Вашего адресса электронной почты, перейдите по ссылке "Подтвердить e-mail":
    p
    a(href=`localhost/user/email/confirm/${user.verify_code}`) Подтвердить e-mail
    p(style='font-size: 10pt; font-weight: 300; line-height: 1.5em; color: #000;')
        | Если вы не регистрировали аккаунт в Realive с использованием этого адресса электронной почты, пожалуйста,
        a(href='http://realive.com/support/requests/new', style='color: #3898DD; font-weight: 400; text-decoration:none!important;')
            | свяжитесь с нами
        | .
    p(colspan='2', style='font-size: 10pt; font-weight: 300; line-height: 1.5em; color: #000000;')
        a(href='https://realive.com/legal/', style='  color: #3898DD;  font-weight: 400;  text-decoration:none !important;') Политика конфиденциальности
        |  ·
        a(href='mailto:support@realive.com', style='  color: #3898DD;  font-weight: 400;  text-decoration:none !important;  ') Сообщить о злоупотреблении
        br
        |  © 2017, Realive.com. Все права защищены.