extends layout.pug

block content
  h2.title Добро пожаловать
  .wrapped
    article#welcome
      p
        b Dismus.com
        | &nbsp;– это анонимная социальная сеть. Место, где не нужно указывать
        | реальное имя, достаточно вашего псевдонима. Что дает анонимность? Она развязывает
        | нам руки (или скорее пальцы),чтобы без соблюдения правил приличия, этикета,
        | без наигранности и лицемерия, писать то, что мы думаем!
      br
      p
        | В Dismus.com можно выражать свои мысли и идеи в анонимных блогах, выкладывать
        | свои фотографии, чтобы узнать, что действительно думают о вас люди. Ведь
        | комментарии к фото, оценки здесь тоже можно оставлять анонимно.
      br
      p
        | In Dismus.com can express their thoughts and ideas in an anonymous blog,
        | publish your photos to see what you really think of the people. After comments
        | to photos, estimates are too can leave.