if error_messages
  div.flash.error.div Пожалуйста, исправьте следующие ошибки:
    ul
      each err in error_messages
        li #{err}
else if success_messages
  div.flash.success.div
    ul
      each succ in success_messages 
        li #{succ}